<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class="flex-grow-1">
        <a aria-label="Home" class="logo" routerLink="/">
          <span class="reddit-text">
           LocalisFood
          </span>
        </a>
      </div>
      <div class="flex-grow-1 float-right">
        <a routerLink="/sign-up" class="float-right signup mr-2">Sign up</a>
        <a routerLink="/login" class="float-right login mr-2">Login</a>
        <a routerLink="/CreateProductComponent" class="float-right login mr-2">Créer un produit!</a>
      </div>
    </nav>
  </header>
